USE [is21olap]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 9/2/2021 2:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[LOCATION_ID] [float] NULL,
	[DATE_LAST_MODIFIED] [datetime] NULL,
	[CLASS_ID] [float] NULL,
	[CODE_OF_SUPPLY_ID] [float] NULL,
	[COST_ESTIMATE_TYPE] [nvarchar](200) NULL,
	[DEPARTMENT_ID] [float] NULL,
	[DISCOUNT] [float] NULL,
	[EXPENSE_ACCOUNT_ID] [float] NULL,
	[ISTAXABLE] [nvarchar](3) NULL,
	[ITEM_ID] [float] NULL,
	[MATCH_BILL_TO_RECEIPT] [nvarchar](1) NULL,
	[PAYMENT_METHOD_ID] [float] NULL,
	[REV_REC_RULE_ID] [float] NULL,
	[TAX_ITEM_ID] [float] NULL,
	[VSOE_DEFERRAL] [nvarchar](28) NULL,
	[VSOE_DELIVERED] [nvarchar](3) NULL,
	[VSOE_DISCOUNT] [nvarchar](12) NULL,
	[VSOE_PRICE] [float] NULL,
	[ALLOW_DROP_SHIP] [nvarchar](3) NULL,
	[ALT_DEMAND_SOURCE_ITEM_ID] [float] NULL,
	[ASSET_ACCOUNT_ID] [float] NULL,
	[ATP_LEAD_TIME] [float] NULL,
	[ATP_METHOD] [nvarchar](150) NULL,
	[AVAILABLE_ON_FARFETCH] [nvarchar](1) NULL,
	[AVAILABLE_TO_PARTNERS] [nvarchar](3) NULL,
	[AVERAGECOST] [float] NULL,
	[BACKWARD_CONSUMPTION_DAYS] [float] NULL,
	[BILL_EXCH_RATE_VAR_ACCOUNT_ID] [float] NULL,
	[BILL_PRICE_VARIANCE_ACCOUNT_ID] [float] NULL,
	[BILL_QTY_VARIANCE_ACCOUNT_ID] [float] NULL,
	[BORN_STATUS_ID] [float] NULL,
	[BUILD_SUB_ASSEMBLIES] [nvarchar](1) NULL,
	[CARE_INSTRUCTION_ID] [float] NULL,
	[CATEGORY_CODE_ID] [float] NULL,
	[CHINESE_DESCRIPTION] [nvarchar](4000) NULL,
	[CHINESE_LABEL_QA_TESTER] [nvarchar](4000) NULL,
	[CHINESE_LABEL_REMARK] [nvarchar](4000) NULL,
	[CIQ_FLAG_ID] [float] NULL,
	[CITES_FLAG] [nvarchar](1) NULL,
	[COLLECTION_ID] [float] NULL,
	[COMMODITY_CODE] [nvarchar](10) NULL,
	[COMPOSITION_CODE_ID] [float] NULL,
	[CONSUMPTION_UNIT_ID] [float] NULL,
	[COSTING_METHOD] [nvarchar](16) NULL,
	[COST_0] [float] NULL,
	[COST_CATEGORY] [nvarchar](50) NULL,
	[COUNTRY_CODE_ID] [float] NULL,
	[COUNTRY_OF_MANUFACTURE] [nvarchar](6) NULL,
	[COUNTRY_OF_ORIGIN_IN_CHINESE] [nvarchar](4000) NULL,
	[COUNTRY_OF_ORIGIN_MATERIAL_ID] [float] NULL,
	[CREATED] [datetime] NULL,
	[CREATE_PLAN_ON_EVENT_TYPE] [nvarchar](128) NULL,
	[CREATION_DATE] [datetime] NULL,
	[CURRENT_ON_ORDER_COUNT] [float] NULL,
	[CUSTRETURN_VARIANCE_ACCOUNT_ID] [float] NULL,
	[DANGEROUS_GOODS] [nvarchar](1) NULL,
	[DATE_OF_LAST_TRANSACTION] [datetime] NULL,
	[DEFAULT_RETURN_COST] [float] NULL,
	[DEFERRED_EXPENSE_ACCOUNT_ID] [float] NULL,
	[DEFERRED_REVENUE_ACCOUNT_ID] [float] NULL,
	[DEMAND_SOURCE] [nvarchar](50) NULL,
	[DEMAND_TIME_FENCE] [float] NULL,
	[DEPOSIT] [nvarchar](3) NULL,
	[DIMENSION_EXCL_PACKAGING] [nvarchar](4000) NULL,
	[DIMENSION_INCL_PACKAGING] [nvarchar](4000) NULL,
	[DISPLAYNAME] [nvarchar](4000) NULL,
	[DISTRIBUTION_CATEGORY] [nvarchar](60) NULL,
	[DISTRIBUTION_NETWORK] [nvarchar](100) NULL,
	[DIVISION_CODE_ID] [float] NULL,
	[DROPSHIP_EXPENSE_ACCOUNT_ID] [float] NULL,
	[DROP_NUMBER_ID] [float] NULL,
	[EFFECTIVE_BOM_CONTROL_TYPE] [nvarchar](150) NULL,
	[ENGLISH_DESCRIPTION] [nvarchar](4000) NULL,
	[EXTERNAL_LONG_DESCRIPTION] [nvarchar](4000) NULL,
	[FEATUREDITEM] [nvarchar](3) NULL,
	[FIXED_LOT_SIZE] [float] NULL,
	[FLAT_OR_HANGER_ID] [float] NULL,
	[FORWARD_CONSUMPTION_DAYS] [float] NULL,
	[FRAUD_RISK] [nvarchar](128) NULL,
	[FULL_NAME] [nvarchar](550) NULL,
	[FX_ADJUSTMENT_ACCOUNT_ID] [float] NULL,
	[GAIN_LOSS_ACCOUNT_ID] [float] NULL,
	[GENDER_CODE_ID] [float] NULL,
	[GROSS_WEIGHT_KG__MASS_INCL_PA] [float] NULL,
	[HANDLING_COST] [float] NULL,
	[HAZMAT] [nvarchar](1) NULL,
	[HAZMAT_HAZARD_CLASS] [nvarchar](50) NULL,
	[HAZMAT_ID] [nvarchar](50) NULL,
	[HAZMAT_ITEM_UNITS] [nvarchar](20) NULL,
	[HAZMAT_ITEM_UNITS_QTY] [float] NULL,
	[HAZMAT_PACKING_GROUP] [nvarchar](10) NULL,
	[HAZMAT_SHIPPING_NAME] [nvarchar](100) NULL,
	[HK_HS_CODE] [nvarchar](4000) NULL,
	[IMPORTED] [nvarchar](1) NULL,
	[INCLUDE_CHILD_SUBSIDIARIES] [nvarchar](3) NULL,
	[INCOME_ACCOUNT_ID] [float] NULL,
	[INTERCO_EXPENSE_ACCOUNT_ID] [float] NULL,
	[INTERCO_INCOME_ACCOUNT_ID] [float] NULL,
	[INTERNAL_LONG_DESCRIPTION] [nvarchar](4000) NULL,
	[INVT_COUNT_CLASSIFICATION] [float] NULL,
	[INVT_COUNT_INTERVAL] [float] NULL,
	[ISINACTIVE] [nvarchar](3) NULL,
	[ISONLINE] [nvarchar](3) NULL,
	[IS_CONT_REV_HANDLING] [nvarchar](3) NULL,
	[IS_ENFORCE_MIN_QTY_INTERNALLY] [nvarchar](3) NULL,
	[IS_HOLD_REV_REC] [nvarchar](3) NULL,
	[IS_MOSS] [nvarchar](3) NULL,
	[IS_PHANTOM] [nvarchar](3) NULL,
	[IS_SPECIAL_ORDER_ITEM] [nvarchar](3) NULL,
	[ITEM_DEFINED_COST] [float] NULL,
	[ITEM_EXTID] [nvarchar](255) NULL,
	[ITEM_IMAGE] [float] NULL,
	[ITEM_REVENUE_CATEGORY] [nvarchar](250) NULL,
	[KEY_CATEGORY_ID] [float] NULL,
	[KEY_DIVISION_ID] [float] NULL,
	[LAST_COGS_CORRECTION] [datetime] NULL,
	[LAST_INVT_COUNT_DATE] [datetime] NULL,
	[LAST_PURCHASE_PRICE] [float] NULL,
	[LICENSE_ID] [float] NULL,
	[LINE_CODE_ID] [float] NULL,
	[LOT_NUMBERED_ITEM] [nvarchar](1) NULL,
	[LOT_SIZING_METHOD] [nvarchar](50) NULL,
	[MANUFACTORY_CODE_ID] [float] NULL,
	[MANUFACTURER] [nvarchar](200) NULL,
	[MANUFACTURING_CHARGE_ITEM] [nvarchar](3) NULL,
	[MATERIAL_CONTENT_1_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_2_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_3_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_4_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_5_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_6_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_7_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_8_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_LINING] [nvarchar](4000) NULL,
	[MATRIX_TYPE] [nvarchar](6) NULL,
	[MAXIMUM_QUANTITY] [float] NULL,
	[MERCHANT_CATEGORY_ID] [float] NULL,
	[MINIMUM_QUANTITY] [float] NULL,
	[MODIFIED] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MOQ] [float] NULL,
	[MPN] [nvarchar](100) NULL,
	[NAME] [nvarchar](250) NULL,
	[NATURE_OF_TRANSACTION_CODES_ID] [float] NULL,
	[NEED_TO_BE_SYNCED] [nvarchar](1) NULL,
	[NEXT_INVT_COUNT_DATE] [datetime] NULL,
	[NOT_APPLICABLE_FOR_DISCOUNT] [nvarchar](1) NULL,
	[NS_LEAD_TIME] [float] NULL,
	[OFFERSUPPORT] [nvarchar](3) NULL,
	[ONSPECIAL] [nvarchar](3) NULL,
	[OVERHEAD_TYPE] [nvarchar](100) NULL,
	[PARENT_ID] [float] NULL,
	[PERIODIC_LOT_SIZE_DAYS] [float] NULL,
	[PERIODIC_LOT_SIZE_TYPE] [nvarchar](50) NULL,
	[PREF_PURCHASE_TAX_ID] [float] NULL,
	[PREF_SALE_TAX_ID] [float] NULL,
	[PREF_STOCK_LEVEL] [float] NULL,
	[PREPACKED_QTY_FOR_DG] [nvarchar](4000) NULL,
	[PRICES_INCLUDE_TAX] [nvarchar](1) NULL,
	[PRICING_GROUP_ID] [float] NULL,
	[PRINT_SUB_ITEMS] [nvarchar](3) NULL,
	[PRODUCT_DESCRIPTION_FOR_SHIPP] [nvarchar](4000) NULL,
	[PRODUCT_GROUP_ID] [float] NULL,
	[PRODUCT_LINE_ID] [float] NULL,
	[PRODUCT_QUALITY_GRADE] [nvarchar](4000) NULL,
	[PRODUCT_SHORT_DESCRIPTION_TIC] [nvarchar](4000) NULL,
	[PRODUCT_STATUS_ID] [float] NULL,
	[PRODUCT_SUBCATEGORY_ID] [float] NULL,
	[PRODUCT_TYPE_ID] [float] NULL,
	[PROD_PRICE_VAR_ACCOUNT_ID] [float] NULL,
	[PROD_QTY_VAR_ACCOUNT_ID] [float] NULL,
	[PURCHASEDESCRIPTION] [nvarchar](4000) NULL,
	[PURCHASEORDERAMOUNT] [float] NULL,
	[PURCHASEORDERQUANTITY] [float] NULL,
	[PURCHASEORDERQUANTITYDIFF] [float] NULL,
	[PURCHASE_PRICE_VAR_ACCOUNT_ID] [float] NULL,
	[PURCHASE_UNIT_ID] [float] NULL,
	[QUANTITYAVAILABLE] [float] NULL,
	[QUANTITYBACKORDERED] [float] NULL,
	[QUANTITYONHAND] [float] NULL,
	[RECEIPTAMOUNT] [float] NULL,
	[RECEIPTQUANTITY] [float] NULL,
	[RECEIPTQUANTITYDIFF] [float] NULL,
	[REORDERPOINT] [float] NULL,
	[REORDER_MULTIPLE] [float] NULL,
	[REPLENISHMENT_METHOD] [nvarchar](50) NULL,
	[RESALABLE] [nvarchar](3) NULL,
	[RESCHEDULE_IN_DAYS] [float] NULL,
	[RESCHEDULE_OUT_DAYS] [float] NULL,
	[REVENUE_ALLOCATION_GROUP] [nvarchar](60) NULL,
	[REV_REC_FORECAST_RULE_ID] [float] NULL,
	[ROUND_UP_AS_COMPONENT] [nvarchar](3) NULL,
	[SAFETY_CODE_1_IN_CHINESE] [nvarchar](4000) NULL,
	[SAFETY_CODE_2_IN_CHINESE] [nvarchar](4000) NULL,
	[SAFETY_CODE_3_IN_CHINESE] [nvarchar](4000) NULL,
	[SAFETY_STOCK_DAYS] [float] NULL,
	[SAFETY_STOCK_LEVEL] [float] NULL,
	[SALESDESCRIPTION] [nvarchar](4000) NULL,
	[SALESPRICE] [nvarchar](42) NULL,
	[SALE_UNIT_ID] [float] NULL,
	[SCIENTIFIC_NAME] [nvarchar](4000) NULL,
	[SCRAP_ACCOUNT_ID] [float] NULL,
	[SEASON_CODE_ID] [float] NULL,
	[SERIALIZED_ITEM] [nvarchar](1) NULL,
	[SHIPPINGCOST] [float] NULL,
	[SHORT_PRODUCT_CHINESE_DESCRIP] [nvarchar](4000) NULL,
	[SHOW_ON_ECOMMERCE] [nvarchar](1) NULL,
	[SHOW_ON_WEBOUTIQUE] [nvarchar](1) NULL,
	[SIZE_CODE_FOR_CHINA] [nvarchar](4000) NULL,
	[SIZE_TABLE_CODE] [nvarchar](4000) NULL,
	[SKUTCOLOUR] [nvarchar](4000) NULL,
	[SOURCE_OF_THE_ANIMAL_CITES_IT] [nvarchar](4000) NULL,
	[SPECIAL_WORK_ORDER_ITEM] [nvarchar](1) NULL,
	[STANDARD_CODE] [nvarchar](4000) NULL,
	[STAR_PRODUCT_ID] [float] NULL,
	[STOCK_UNIT_ID] [float] NULL,
	[STOREDESCRIPTION] [nvarchar](4000) NULL,
	[STOREDISPLAYNAME] [nvarchar](4000) NULL,
	[SUBTYPE] [nvarchar](10) NULL,
	[SUPPLEMENTARY_UNIT_ID] [float] NULL,
	[SUPPLEMENTARY_UNIT__ABBERVIAT] [nvarchar](4000) NULL,
	[SUPPLIER_PRICE_EFFECTIVE_DATE] [datetime] NULL,
	[SUPPLY_TIME_FENCE] [float] NULL,
	[SUPPLY_TYPE] [nvarchar](50) NULL,
	[TECHNICAL_SPECIFICATION] [nvarchar](4000) NULL,
	[TOTALVALUE] [float] NULL,
	[TRANSFERPRICE] [float] NULL,
	[TYPE_NAME] [nvarchar](4000) NULL,
	[TYPE_OF_GOODS_ID] [float] NULL,
	[UK_HS_CODE] [nvarchar](4000) NULL,
	[UNBUILD_VARIANCE_ACCOUNT_ID] [float] NULL,
	[UNITS_TYPE_ID] [float] NULL,
	[UPC_CODE] [nvarchar](180) NULL,
	[USE_COMPONENT_YIELD] [nvarchar](3) NULL,
	[US_HS_CODE] [nvarchar](4000) NULL,
	[VENDORNAME] [nvarchar](250) NULL,
	[VENDOR_ID] [float] NULL,
	[VENDOR_ID_0] [nvarchar](4000) NULL,
	[VENDRETURN_VARIANCE_ACCOUNT_ID] [float] NULL,
	[WEIGHT] [float] NULL,
	[WEIGHT_IN_USER_DEFINED_UNIT] [float] NULL,
	[WEIGHT_UNIT_INDEX] [float] NULL,
	[WIP_ACCOUNT_ID] [float] NULL,
	[WIP_COST_VARIANCE_ACCOUNT_ID] [float] NULL,
	[WORK_ORDER_LEAD_TIME] [float] NULL
) ON [PRIMARY]
GO
