USE [is21olap]
GO
/****** Object:  Table [dbo].[Item_Loc_OnHand]    Script Date: 8/4/2021 4:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Loc_OnHand](
	[ITEM_ID] [float] NULL,
	[AVAILABLE_ON_FARFETCH] [nvarchar](1) NULL,
	[BORN_STATUS_ID] [float] NULL,
	[CARE_INSTRUCTION_ID] [float] NULL,
	[CHINESE_DESCRIPTION] [nvarchar](4000) NULL,
	[CHINESE_LABEL_QA_TESTER] [nvarchar](4000) NULL,
	[CHINESE_LABEL_REMARK] [nvarchar](4000) NULL,
	[CIQ_FLAG_ID] [float] NULL,
	[CITES_FLAG] [nvarchar](1) NULL,
	[CODE_OF_SUPPLY_ID] [float] NULL,
	[COLLECTION_ID] [float] NULL,
	[COMMODITY_CODE] [nvarchar](10) NULL,
	[COMPOSITION_DESCRIPTION_ID] [float] NULL,
	[COUNTRY_CODE_ID] [float] NULL,
	[COUNTRY_OF_ORIGIN_IN_CHINESE] [nvarchar](4000) NULL,
	[COUNTRY_OF_ORIGIN_MATERIAL_ID] [float] NULL,
	[CREATION_DATE] [datetime] NULL,
	[DANGEROUS_GOODS] [nvarchar](1) NULL,
	[DIMENSION_EXCL_PACKAGING] [nvarchar](4000) NULL,
	[DIMENSION_INCL_PACKAGING] [nvarchar](4000) NULL,
	[DISCOUNT] [float] NULL,
	[DROP_NUMBER_ID] [float] NULL,
	[ENGLISH_DESCRIPTION] [nvarchar](4000) NULL,
	[EXTERNAL_LONG_DESCRIPTION] [nvarchar](4000) NULL,
	[FLAT_OR_HANGER_ID] [float] NULL,
	[GENDER_CODE_ID] [float] NULL,
	[GROSS_WEIGHT_KG__MASS_INCL_PA] [float] NULL,
	[HK_HS_CODE] [nvarchar](4000) NULL,
	[IMPORTED] [nvarchar](1) NULL,
	[INTERNAL_LONG_DESCRIPTION] [nvarchar](4000) NULL,
	[ITEM_IMAGE] [float] NULL,
	[KEY_CATEGORY_ID] [float] NULL,
	[KEY_DIVISION_ID] [float] NULL,
	[LICENSE_ID] [float] NULL,
	[LINE_CODE_ID] [float] NULL,
	[MANUFACTORY_CODE_ID] [float] NULL,
	[MATERIAL_CONTENT_1_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_2_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_3_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_4_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_5_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_6_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_7_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_8_IN_CHINESE] [nvarchar](4000) NULL,
	[MATERIAL_CONTENT_LINING] [nvarchar](4000) NULL,
	[MERCHANT_CATEGORY_ID] [float] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MOQ] [float] NULL,
	[NATURE_OF_TRANSACTION_CODES_ID] [float] NULL,
	[NEED_TO_BE_SYNCED] [nvarchar](1) NULL,
	[NOT_APPLICABLE_FOR_DISCOUNT] [nvarchar](1) NULL,
	[PREPACKED_QTY_FOR_DG] [nvarchar](4000) NULL,
	[PRODUCT_CATEGORY_ID] [float] NULL,
	[PRODUCT_DESCRIPTION_FOR_SHIPP] [nvarchar](4000) NULL,
	[PRODUCT_DIVISION_ID] [float] NULL,
	[PRODUCT_GROUP_ID] [float] NULL,
	[PRODUCT_LINE_ID] [float] NULL,
	[PRODUCT_QUALITY_GRADE] [nvarchar](4000) NULL,
	[PRODUCT_SHORT_DESCRIPTION_TIC] [nvarchar](4000) NULL,
	[PRODUCT_STATUS_ID] [float] NULL,
	[PRODUCT_SUBCATEGORY_ID] [float] NULL,
	[PRODUCT_TYPE_ID] [float] NULL,
	[SAFETY_CODE_1_IN_CHINESE] [nvarchar](4000) NULL,
	[SAFETY_CODE_2_IN_CHINESE] [nvarchar](4000) NULL,
	[SAFETY_CODE_3_IN_CHINESE] [nvarchar](4000) NULL,
	[SCIENTIFIC_NAME] [nvarchar](4000) NULL,
	[SEASON_CODE_ID] [float] NULL,
	[SHORT_PRODUCT_CHINESE_DESCRIP] [nvarchar](4000) NULL,
	[SHOW_ON_ECOMMERCE] [nvarchar](1) NULL,
	[SHOW_ON_WEBOUTIQUE] [nvarchar](1) NULL,
	[SIZE_CODE_FOR_CHINA] [nvarchar](4000) NULL,
	[SIZE_TABLE_CODE] [nvarchar](4000) NULL,
	[SKUTCOLOUR] [nvarchar](4000) NULL,
	[SOURCE_OF_THE_ANIMAL_CITES_IT] [nvarchar](4000) NULL,
	[STANDARD_CODE] [nvarchar](4000) NULL,
	[STAR_PRODUCT_ID] [float] NULL,
	[SUPPLEMENTARY_UNIT_ID] [float] NULL,
	[SUPPLEMENTARY_UNIT__ABBERVIAT] [nvarchar](4000) NULL,
	[SUPPLIER_PRICE_EFFECTIVE_DATE] [datetime] NULL,
	[TECHNICAL_SPECIFICATION] [nvarchar](4000) NULL,
	[TYPE_OF_GOODS_ID] [float] NULL,
	[UK_HS_CODE] [nvarchar](4000) NULL,
	[US_HS_CODE] [nvarchar](4000) NULL,
	[VENDOR_ID] [nvarchar](4000) NULL,
	[AVAILABLE_COUNT] [float] NULL,
	[IN_TRANSIT_COUNT] [float] NULL,
	[LOCATION_ID] [float] NULL,
	[ON_HAND_COUNT] [float] NULL,
	[ON_ORDER_COUNT] [float] NULL,
	[ATP_LEAD_TIME] [float] NULL,
	[AVERAGE_COST] [float] NULL,
	[BACKWARD_CONSUMPTION_DAYS] [float] NULL,
	[COSTING_LOT_SIZE] [float] NULL,
	[COST_0] [float] NULL,
	[COST_ACCOUNTING_STATUS] [nvarchar](4000) NULL,
	[DEFAULT_RETURN_COST] [float] NULL,
	[DEMAND_SOURCE] [nvarchar](50) NULL,
	[DEMAND_TIME_FENCE] [float] NULL,
	[FIXED_LOT_SIZE] [float] NULL,
	[FORWARD_CONSUMPTION_DAYS] [float] NULL,
	[INVENTORY_COST_TEMPLATE] [float] NULL,
	[INVT_COUNT_CLASSIFICATION] [float] NULL,
	[INVT_COUNT_INTERVAL] [float] NULL,
	[LAST_INVT_COUNT_DATE] [datetime] NULL,
	[LAST_PURCHASE_PRICE] [float] NULL,
	[LOT_SIZING_METHOD] [nvarchar](50) NULL,
	[NEXT_INVT_COUNT_DATE] [datetime] NULL,
	[NS_LEAD_TIME] [float] NULL,
	[ON_HAND_VALUE] [float] NULL,
	[PERIODIC_LOT_SIZE_DAYS] [float] NULL,
	[PERIODIC_LOT_SIZE_TYPE] [nvarchar](50) NULL,
	[PREF_STOCK_LEVEL] [float] NULL,
	[QUANTITYBACKORDERED] [float] NULL,
	[REORDER_POINT] [float] NULL,
	[RESCHEDULE_IN_DAYS] [float] NULL,
	[RESCHEDULE_OUT_DAYS] [float] NULL,
	[SAFETY_STOCK_LEVEL] [float] NULL,
	[SUPPLY_TIME_FENCE] [float] NULL,
	[SUPPLY_TYPE] [nvarchar](50) NULL,
	[WIP] [nvarchar](1) NULL
) ON [PRIMARY]
GO
