USE [is21olap]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 8/4/2021 4:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ACCOUNTING_BOOK_ID] [float] NULL,
	[ACCOUNTING_PERIOD_ID] [float] NULL,
	[ACCOUNT_BASED_NUMBER] [nvarchar](138) NULL,
	[ACCT_CORP_CARD_EXPENSES_ID] [float] NULL,
	[ACHEFT_REFERENCE_NO_] [nvarchar](4000) NULL,
	[ADJUSTMENT_JOURNAL] [nvarchar](1) NULL,
	[AMOUNT] [float] NULL,
	[AMOUNT_UNBILLED] [float] NULL,
	[APPLIED] [nvarchar](1) NULL,
	[AUTOCASH_ASSERTION] [nvarchar](1) NULL,
	[BANK_FEE] [float] NULL,
	[BILLADDRESS] [nvarchar](999) NULL,
	[BILLING_ACCOUNT_ID] [float] NULL,
	[BILLING_INSTRUCTIONS] [nvarchar](999) NULL,
	[BILL_PAY_TRANSACTION] [nvarchar](3) NULL,
	[BUILDABLE] [float] NULL,
	[BULK_SUBMISSION_ID] [float] NULL,
	[CANCELATION_DATE] [datetime] NULL,
	[CARRIER] [nvarchar](100) NULL,
	[CASH_CURRENCY] [nvarchar](4000) NULL,
	[CASH_REGISTER] [nvarchar](1) NULL,
	[CLOSED] [datetime] NULL,
	[COMPANY_STATUS_ID] [float] NULL,
	[CONSIGNMENT_CREATED] [nvarchar](1) NULL,
	[CONTRACT_COST_AMOUNT] [float] NULL,
	[CONTRACT_DEFER_EXPENSE_ACCT_ID] [float] NULL,
	[CONTRACT_EXPENSE_ACCT_ID] [float] NULL,
	[CONTRACT_EXPENSE_SRC_ACCT_ID] [float] NULL,
	[COUNTERPARTY_VAT_NUMBER] [nvarchar](14) NULL,
	[COUNTRY_OF_ORIGIN] [nvarchar](4000) NULL,
	[COURIER] [nvarchar](4000) NULL,
	[CREATED_BY_ID] [float] NULL,
	[CREATED_FROM] [nvarchar](255) NULL,
	[CREATED_FROM_DEFECTIVE_ID] [float] NULL,
	[CREATED_FROM_ID] [float] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CURRENCY_ID] [float] NULL,
	[CUSTOMER_DEFAULT_DISCOUNT] [float] NULL,
	[CUSTOMER_P_O_] [nvarchar](4000) NULL,
	[CUSTOMS_REGISTRATION_NUMBER] [nvarchar](4000) NULL,
	[CUSTOM_FORM_ID] [float] NULL,
	[DATE_ACTUAL_PROD_END] [datetime] NULL,
	[DATE_ACTUAL_PROD_START] [datetime] NULL,
	[DATE_AS_OF] [datetime] NULL,
	[DATE_BID_CLOSE] [datetime] NULL,
	[DATE_BID_OPEN] [datetime] NULL,
	[DATE_CONTRACT_COST_ACCRUAL] [datetime] NULL,
	[DATE_LAST_MODIFIED] [datetime] NULL,
	[DATE_OF_TAXABLE_SUPPLY] [datetime] NULL,
	[DATE_TAX_POINT] [datetime] NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[DELIVERY_TERMS_ID] [float] NULL,
	[DEPOSIT_FOR_ITEM_ID] [float] NULL,
	[DEPOSIT_ITEM_PRICE] [float] NULL,
	[DEPOSIT_ITEM_QUANTITY] [float] NULL,
	[DISCOUNT_AMOUNT] [float] NULL,
	[DOCUMENT_NUMBER] [nvarchar](4000) NULL,
	[DUE_DATE] [datetime] NULL,
	[EMAIL] [nvarchar](256) NULL,
	[EMAIL_ADDRESS] [nvarchar](255) NULL,
	[END_DATE] [datetime] NULL,
	[ENTITY_ID] [float] NULL,
	[ENTITY_TAX_REG_NUM] [nvarchar](30) NULL,
	[EXCHANGE_0] [nvarchar](1) NULL,
	[EXCHANGE_INVOICE] [nvarchar](1) NULL,
	[EXCHANGE_RATE] [float] NULL,
	[EXPECTED_CLOSE] [datetime] NULL,
	[EXTERNAL_REF_NUMBER] [nvarchar](138) NULL,
	[FAX] [nvarchar](100) NULL,
	[FOB] [nvarchar](13) NULL,
	[FORECAST_TYPE] [nvarchar](384) NULL,
	[FOR_ELECTRONIC_BANK_PAYMENT] [nvarchar](1) NULL,
	[FOR_ELECTRONIC_BANK_PAYMENT_D] [nvarchar](1) NULL,
	[HEADER_REMARKS] [nvarchar](4000) NULL,
	[INCLUDE_IN_FORECAST] [nvarchar](3) NULL,
	[INCOTERM] [nvarchar](100) NULL,
	[INTERCOMPANY_PO_ID] [float] NULL,
	[INTERCOMPANY_TRANSACTION_ID] [float] NULL,
	[INVOICE_PRINT_FLAG] [nvarchar](1) NULL,
	[IS_ACTUALPRODENDDATE_MANUAL] [nvarchar](3) NULL,
	[IS_ACTUALPRODSTARTDATE_MANUAL] [nvarchar](3) NULL,
	[IS_ADVANCED_INTERCOMPANY] [nvarchar](3) NULL,
	[IS_AUTOCALCULATE_LAG] [nvarchar](3) NULL,
	[IS_COMPLIANT] [nvarchar](3) NULL,
	[IS_CREATED_FROM_MERGE] [nvarchar](3) NULL,
	[IS_CROSS_SUB_TRANSACTIONS] [nvarchar](3) NULL,
	[IS_FINANCE_CHARGE] [nvarchar](3) NULL,
	[IS_FIRMED] [nvarchar](3) NULL,
	[IS_INTERCOMPANY] [nvarchar](3) NULL,
	[IS_IN_TRANSIT_PAYMENT] [nvarchar](3) NULL,
	[IS_MERGED_INTO_ARRANGEMENTS] [nvarchar](3) NULL,
	[IS_NON_POSTING] [nvarchar](3) NULL,
	[IS_OVERRIDE_INSTALLMENTS] [nvarchar](3) NULL,
	[IS_PAYMENT_HOLD] [nvarchar](3) NULL,
	[IS_RECURRING_BILL] [nvarchar](3) NULL,
	[IS_REVERSAL] [nvarchar](3) NULL,
	[IS_REVERSAL_0] [nvarchar](1) NULL,
	[IS_TAX_POINT_DATE_OVERRIDE] [nvarchar](3) NULL,
	[IS_TAX_REG_OVERRIDE] [nvarchar](3) NULL,
	[IS_WIP] [nvarchar](1) NULL,
	[ITEM_REVISION] [float] NULL,
	[ITR_NEXUS] [nvarchar](4000) NULL,
	[JOB_ID] [float] NULL,
	[LANDED_COST_ALLOCATION_METHOD] [nvarchar](8) NULL,
	[LAST_MODIFIED_DATE] [datetime] NULL,
	[LEAD_SOURCE_ID] [float] NULL,
	[LEQEE_ID] [nvarchar](4000) NULL,
	[LEQEE_ORDER_TYPE] [nvarchar](4000) NULL,
	[LEQEE_WAREHOUSE_ID] [nvarchar](4000) NULL,
	[LINE_CHANGED_AFTER_SENT_TO_OM] [nvarchar](1) NULL,
	[LOCATION_CODE] [nvarchar](4000) NULL,
	[LOCATION_ID] [float] NULL,
	[MARKETING__CATEGORY_ID] [float] NULL,
	[MARKETING__CHANNEL_ID] [float] NULL,
	[MARKETING__TYPE_ID] [float] NULL,
	[MEMO] [nvarchar](4000) NULL,
	[MEMORIZED] [nvarchar](3) NULL,
	[MESSAGE] [nvarchar](999) NULL,
	[MODE_OF_TRANSPORT_ID] [float] NULL,
	[NATURE_OF_TRANSACTION_CODE_ID] [float] NULL,
	[NEEDS_BILL] [nvarchar](3) NULL,
	[NEEDS_REVENUE_COMMITMENT] [nvarchar](3) NULL,
	[NEXUS_NOTC_ID] [float] NULL,
	[NONDEDUCTIBLE_ADJUSTMENT_JO_ID] [float] NULL,
	[NONDEDUCTIBLE_TAX_ADJUSTED] [nvarchar](1) NULL,
	[NOTIFICATION_EMAIL] [nvarchar](255) NULL,
	[NO__OF_PAYMENT_ADVISE_RECEPIE] [float] NULL,
	[NUMBER_OF_PRICING_TIERS] [float] NULL,
	[OPENING_BALANCE_TRANSACTION] [nvarchar](3) NULL,
	[ORDER_TYPE_ID] [float] NULL,
	[ORIGINAL_PAYMENT_AMOUNT] [float] NULL,
	[OWNERSHIP_TRANSFER_ID] [float] NULL,
	[PACKING_LIST_INSTRUCTIONS] [nvarchar](999) NULL,
	[PAID_AMOUNT] [float] NULL,
	[PAID_FOR_INVOICE_ID] [float] NULL,
	[PAIRED_REF__ID] [float] NULL,
	[PARTNER_ID] [float] NULL,
	[PAYMENT_TERMS_ID] [float] NULL,
	[PFA_RECORD_ID] [float] NULL,
	[PN_REF_NUM] [nvarchar](100) NULL,
	[POS_EXCHANGE_RATE] [float] NULL,
	[PREFERRED_ENTITY_BANK_ID] [float] NULL,
	[PROBABILITY] [float] NULL,
	[PRODUCT_LABEL_INSTRUCTIONS] [nvarchar](999) NULL,
	[PROJECTED_TOTAL] [float] NULL,
	[PROMOTION_CODE_ID] [float] NULL,
	[PROMOTION_CODE_INSTANCE_ID] [float] NULL,
	[PROMOTION_REF_1] [nvarchar](4000) NULL,
	[PROMOTION_REF_2] [nvarchar](4000) NULL,
	[PROMOTION_REF_3] [nvarchar](4000) NULL,
	[PSALE__SALES_STAFF_ID] [float] NULL,
	[PURCHASE_ORDER_INSTRUCTIONS] [nvarchar](999) NULL,
	[REFERENCE_0] [nvarchar](4000) NULL,
	[REFERENCE_NO__OF_ORIGINAL_INV] [nvarchar](4000) NULL,
	[REGIME_CODE_ID] [float] NULL,
	[REGIME_CODE_OF_SUPPLY_ID] [float] NULL,
	[REGION_OF_ORIGIN_ID] [float] NULL,
	[RELATED_TRANID] [nvarchar](138) NULL,
	[RELOAD] [nvarchar](1) NULL,
	[REMARKS] [nvarchar](4000) NULL,
	[REMARKS_PO_DEFAULT] [nvarchar](4000) NULL,
	[RENEWAL] [datetime] NULL,
	[REPORT_TIMESTAMP] [nvarchar](4000) NULL,
	[RETAIL_SALES_REP_ID] [float] NULL,
	[REVENUE_COMMITMENT_STATUS] [nvarchar](480) NULL,
	[REVENUE_COMMITTED] [datetime] NULL,
	[REVENUE_STATUS] [nvarchar](480) NULL,
	[REVERSAL_DATE] [datetime] NULL,
	[REVERSAL_NUMBER_ID] [float] NULL,
	[REVERSING_TRANSACTION_ID] [float] NULL,
	[SALES_EFFECTIVE_DATE] [datetime] NULL,
	[SALES_REP_ID] [float] NULL,
	[SCHEDULING_METHOD_ID] [nvarchar](15) NULL,
	[SHIPADDRESS] [nvarchar](999) NULL,
	[SHIPMENT_RECEIVED] [datetime] NULL,
	[SHIPMENT_REF_] [nvarchar](4000) NULL,
	[SHIPPING_FEE] [float] NULL,
	[SHIPPING_INSTRUCTION] [nvarchar](4000) NULL,
	[SHIPPING_ITEM_ID] [float] NULL,
	[SHIPPING_STATUS] [nvarchar](4000) NULL,
	[SHIP_DIALLING_CODE] [nvarchar](4000) NULL,
	[SHIP_PHONE_NUMBER] [nvarchar](4000) NULL,
	[START_DATE] [datetime] NULL,
	[STATUS] [nvarchar](4000) NULL,
	[TAX_REG_ID] [float] NULL,
	[TITLE] [nvarchar](200) NULL,
	[TMALL_ID] [nvarchar](4000) NULL,
	[TMALL_ORDER_DATE] [datetime] NULL,
	[TOTAL_RECEIVED_AMOUNT] [float] NULL,
	[TRACKING_NUMBER] [nvarchar](4000) NULL,
	[TRANDATE] [datetime] NULL,
	[TRANID] [nvarchar](138) NULL,
	[TRANSACTION_EXTID] [nvarchar](255) NULL,
	[TRANSACTION_ID] [float] NULL,
	[TRANSACTION_NUMBER] [nvarchar](138) NULL,
	[TRANSACTION_PARTNER] [nvarchar](40) NULL,
	[TRANSACTION_SOURCE] [nvarchar](4000) NULL,
	[TRANSACTION_TYPE] [nvarchar](192) NULL,
	[TRANSACTION_WEBSITE] [float] NULL,
	[TRANSFER_LOCATION] [float] NULL,
	[TRANS_IS_VSOE_BUNDLE] [nvarchar](3) NULL,
	[USE_ITEM_COST_AS_TRANSFER_COST] [nvarchar](3) NULL,
	[VENDOR_BANK_FEES] [nvarchar](1) NULL,
	[VISIBLE_IN_CUSTOMER_CENTER] [nvarchar](1) NULL,
	[WEIGHTED_TOTAL] [float] NULL,
	[LEQEE_ORDER_STATUS] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
