USE [is21olap]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/2/2021 2:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ACCOUNTNUMBER] [nvarchar](99) NULL,
	[ACCOUNT_NO_] [nvarchar](4000) NULL,
	[AGE_GROUP_ID] [float] NULL,
	[AGE_GROUP_OLD_ID] [float] NULL,
	[ALCOHOL_RECIPIENT_TYPE] [nvarchar](32) NULL,
	[ALLOW_TASK_TIME_FOR_ALLOCATION] [nvarchar](3) NULL,
	[ALTEMAIL] [nvarchar](254) NULL,
	[ALTERNATE_CONTACT_ID] [float] NULL,
	[ALTPHONE] [nvarchar](100) NULL,
	[AMOUNT_COMPLETE] [float] NULL,
	[BANK_ADDRESS] [nvarchar](4000) NULL,
	[BANK_CODE__BRANCH_CODE] [nvarchar](4000) NULL,
	[BANK_NAME] [nvarchar](4000) NULL,
	[BANK_SWIFT_CODE] [nvarchar](4000) NULL,
	[BATCH_NO_] [nvarchar](4000) NULL,
	[BILLADDRESS] [nvarchar](999) NULL,
	[BILLING_RATE_CARD_ID] [float] NULL,
	[BILLING_SCHEDULE_ID] [float] NULL,
	[BILLING_SCHEDULE_TYPE] [nvarchar](60) NULL,
	[BILLING_TRANSACTION_TYPE] [nvarchar](192) NULL,
	[BIRTHDAY] [datetime] NULL,
	[BIRTH_DAY] [float] NULL,
	[BIRTH_MONTH] [nvarchar](4000) NULL,
	[BIRTH_YEAR] [nvarchar](4000) NULL,
	[BUSINESS_REGISTRATION_NO_] [nvarchar](4000) NULL,
	[B_TO_B_TYPE_ID] [float] NULL,
	[CALCULATED_END] [datetime] NULL,
	[CATEGORY_0] [nvarchar](30) NULL,
	[CITY] [nvarchar](50) NULL,
	[CK] [nvarchar](4000) NULL,
	[COMMENTS] [nvarchar](4000) NULL,
	[COMPANYNAME] [nvarchar](83) NULL,
	[CONSOL_DAYS_OVERDUE] [float] NULL,
	[CONSOL_DEPOSIT_BALANCE] [float] NULL,
	[CONSOL_DEPOSIT_BALANCE_FOREIGN] [float] NULL,
	[CONSOL_OPENBALANCE] [float] NULL,
	[CONSOL_OPENBALANCE_FOREIGN] [float] NULL,
	[CONSOL_UNBILLED_ORDERS] [float] NULL,
	[CONSOL_UNBILLED_ORDERS_FOREIGN] [float] NULL,
	[CONVERTED_TO_CONTACT_ID] [float] NULL,
	[CONVERTED_TO_ID] [float] NULL,
	[COST_ESTIMATE] [float] NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRY_CODE] [nvarchar](4000) NULL,
	[COUNTRY_CODE_TYPE_ID] [float] NULL,
	[COUNTRY_OF_ORIGIN] [nvarchar](4000) NULL,
	[CREATED_BY_ID] [float] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATION_DATE] [datetime] NULL,
	[CREDITHOLD] [nvarchar](4) NULL,
	[CREDITLIMIT] [float] NULL,
	[CREDIT_PERIOD_ID] [float] NULL,
	[CURRENCY_ID] [float] NULL,
	[CURRENCY_OF_ACCOUNT_ID] [float] NULL,
	[CURRENT_POINT_BALANCE] [float] NULL,
	[CUSTOMER_DD_ENTITY_BANK_FOR_ID] [float] NULL,
	[CUSTOMER_DD_ENTITY_BANK_SUB_ID] [float] NULL,
	[CUSTOMER_EXTID] [nvarchar](255) NULL,
	[CUSTOMER_GROUP_ID] [float] NULL,
	[CUSTOMER_ID] [float] NULL,
	[CUSTOMER_REFUND_ENTITY_BANK_ID] [float] NULL,
	[CUSTOMER_REFUND_ENTITY_BANK__0] [float] NULL,
	[CUSTOMER_TRANSACTION_TYPE_ID] [float] NULL,
	[CUSTOMER_TYPE_ID] [float] NULL,
	[CUSTOMER_TYPE_ID_0] [float] NULL,
	[CUST_REF_FILE_FORMAT_ID] [float] NULL,
	[DATE_CALCULATED_START] [datetime] NULL,
	[DATE_CLOSED] [datetime] NULL,
	[DATE_CONVSERSION] [datetime] NULL,
	[DATE_FIRST_ORDER] [datetime] NULL,
	[DATE_FIRST_SALE] [datetime] NULL,
	[DATE_GROSS_LEAD] [datetime] NULL,
	[DATE_LAST_MODIFIED] [datetime] NULL,
	[DATE_LAST_ORDER] [datetime] NULL,
	[DATE_LAST_SALE] [datetime] NULL,
	[DATE_LEAD] [datetime] NULL,
	[DATE_PROSPECT] [datetime] NULL,
	[DATE_SCHEDULED_END] [datetime] NULL,
	[DAYS_OVERDUE] [float] NULL,
	[DD_FILE_FORMAT_ID] [float] NULL,
	[DEFAULT_DISCOUNT_RATE] [float] NULL,
	[DEFAULT_ORDER_PRIORITY] [float] NULL,
	[DEFAULT_RECEIVABLES_ACCOUNT_ID] [float] NULL,
	[DEPOSIT_BALANCE] [float] NULL,
	[DEPOSIT_BALANCE_FOREIGN] [float] NULL,
	[DESPATCH_METHOD_ID] [float] NULL,
	[DIC] [nvarchar](4000) NULL,
	[DIRECT_DEBIT] [nvarchar](1) NULL,
	[DIRECT_DEBIT_FILE_FORMAT_ID] [float] NULL,
	[DOB_UPDATED_AT] [datetime] NULL,
	[EC_CREATION_DATE] [datetime] NULL,
	[EFT_BILL_PAYMENT] [nvarchar](1) NULL,
	[EFT_CUSTOMER_REFUND_PAYMENT] [nvarchar](1) NULL,
	[EFT_FILE_FORMAT_ID] [float] NULL,
	[EMAIL] [nvarchar](254) NULL,
	[EMAIL_ADDRESS_FOR_PAYMENT_NOT] [nvarchar](4000) NULL,
	[EMAIL_REGISTRATION] [nvarchar](4000) NULL,
	[EXPECTED_CLOSE] [datetime] NULL,
	[FACTORY_NAME] [nvarchar](4000) NULL,
	[FAX] [nvarchar](100) NULL,
	[FIRSTNAME] [nvarchar](32) NULL,
	[FIRST_SALE_PERIOD_ID] [float] NULL,
	[FIRST_VISIT] [datetime] NULL,
	[FOLLOWUP_COMPANY_ID] [float] NULL,
	[FOLLOWUP_STAFF_ID] [float] NULL,
	[FORECAST_BASED_ON_ALLOCATIONS] [nvarchar](3) NULL,
	[FORECAST_CHARGE_RUN_ON_DEMAND] [nvarchar](3) NULL,
	[FULL_NAME] [nvarchar](1800) NULL,
	[GENDER_ID] [float] NULL,
	[GROUP_ACCOUNT_CODE] [nvarchar](4000) NULL,
	[HOME_PHONE] [nvarchar](100) NULL,
	[IBAN_CODE_EUROPE] [nvarchar](4000) NULL,
	[ICO] [nvarchar](4000) NULL,
	[IMPORTED_PHONE_NUMBER] [nvarchar](4000) NULL,
	[INCOTERM_ID] [float] NULL,
	[ISEMAILHTML] [nvarchar](3) NULL,
	[ISEMAILPDF] [nvarchar](3) NULL,
	[ISINACTIVE] [nvarchar](3) NULL,
	[ISTAXABLE] [nvarchar](3) NULL,
	[IS_EXEMPT_TIME] [nvarchar](3) NULL,
	[IS_EXPLICIT_CONVERSION] [nvarchar](3) NULL,
	[IS_JOB] [nvarchar](3) NULL,
	[IS_LIMIT_TIME_TO_ASSIGNEES] [nvarchar](3) NULL,
	[IS_PERSON] [nvarchar](3) NULL,
	[IS_PRODUCTIVE_TIME] [nvarchar](3) NULL,
	[IS_PROJECT_COMPLETELY_BILLED] [nvarchar](3) NULL,
	[IS_SOURCE_ITEM_FROM_BRC] [nvarchar](3) NULL,
	[IS_UTILIZED_TIME] [nvarchar](3) NULL,
	[JOB_END] [datetime] NULL,
	[JOB_START] [datetime] NULL,
	[JOB_TYPE_ID] [float] NULL,
	[LABOR_BUDGET_FROM_ALLOCATIONS] [nvarchar](3) NULL,
	[LANGUAGE_ID] [nvarchar](30) NULL,
	[LASTNAME] [nvarchar](32) NULL,
	[LAST_CV_REWARDED_DATE] [datetime] NULL,
	[LAST_DOB_DISCOUNT_REWARD_DAY] [datetime] NULL,
	[LAST_MODIFIED_DATE] [datetime] NULL,
	[LAST_POINT_UPDATED_TO_ID] [float] NULL,
	[LAST_SALE_PERIOD_ID] [float] NULL,
	[LAST_TRANSACTION_DATE] [datetime] NULL,
	[LAST_VISIT] [datetime] NULL,
	[LEAD_SOURCE_ID] [float] NULL,
	[LINE1] [nvarchar](150) NULL,
	[LINE2] [nvarchar](150) NULL,
	[LINE3] [nvarchar](150) NULL,
	[LOGINACCESS] [nvarchar](3) NULL,
	[MAIN_AC_ID] [float] NULL,
	[MEMBER_ID] [nvarchar](4000) NULL,
	[MIDDLENAME] [nvarchar](32) NULL,
	[MOBILE_PHONE] [nvarchar](100) NULL,
	[MULTIPLE_PRICE_ID] [float] NULL,
	[MU_RAN] [nvarchar](1) NULL,
	[NAME] [nvarchar](83) NULL,
	[NATIONALITY_ID] [float] NULL,
	[NOT_IN_LOYALTY_PROGRAMME] [nvarchar](1) NULL,
	[OPENBALANCE] [float] NULL,
	[OPENBALANCE_FOREIGN] [float] NULL,
	[PARENT_ID] [float] NULL,
	[PARTNER_ID] [float] NULL,
	[PASS] [nvarchar](1) NULL,
	[PAYMENT_METHOD_ID] [float] NULL,
	[PAYMENT_TERMS_ID] [float] NULL,
	[PESLT_FROM_PH_ID] [float] NULL,
	[PHONE] [nvarchar](100) NULL,
	[PHONE_BACKUP] [nvarchar](4000) NULL,
	[POINTS_EARNED_LIFETIME] [float] NULL,
	[POINTS_EARNED_SINCE_LAST_CV] [float] NULL,
	[POINTS_EARNED_SINCE_LAST_TIER] [float] NULL,
	[POINTS_REQUIRED_TO_THE_NEXT_T] [float] NULL,
	[POINTS_TO_KEEP_TIER] [float] NULL,
	[POS_CURRENCY_ID] [float] NULL,
	[POS_PASSCODE] [nvarchar](4000) NULL,
	[PREFERRED_LANGUAGE_ID] [float] NULL,
	[PRICE_LIST_CODE] [nvarchar](4000) NULL,
	[PRIMARY_CONTACT_ID] [float] NULL,
	[PRINT_ON_CHECK_AS] [nvarchar](83) NULL,
	[PROBABILITY] [float] NULL,
	[PROJECTED_END] [datetime] NULL,
	[PROJECT_EXPENSE_TYPE_ID] [float] NULL,
	[PROJECT_MANAGER_ID] [float] NULL,
	[PROTECTED_0] [nvarchar](1) NULL,
	[RECEIVE_MARKETING_CALLS] [nvarchar](1) NULL,
	[RECEIVE_MARKETING_EMAIL] [nvarchar](1) NULL,
	[REFERRER] [nvarchar](4000) NULL,
	[REMINDERDAYS] [float] NULL,
	[RENEWAL] [datetime] NULL,
	[REPRESENTS_SUBSIDIARY_ID] [float] NULL,
	[RESALENUMBER] [nvarchar](20) NULL,
	[RESTRICT_ACCESS_TO_EXPENSIFY] [nvarchar](1) NULL,
	[REVENUE_ESTIMATE] [float] NULL,
	[REV_REC_FORECAST_RULE_ID] [float] NULL,
	[REV_REC_FORECAST_TEMPLATE] [float] NULL,
	[SALES_AREA_CODE_ID] [float] NULL,
	[SALES_ORDER_TYPE_ID] [float] NULL,
	[SALES_REP_ID] [float] NULL,
	[SALES_TERRITORY_ID] [float] NULL,
	[SALUTATION] [nvarchar](30) NULL,
	[SAP_ID] [nvarchar](4000) NULL,
	[SCHEDULING_METHOD_ID] [nvarchar](15) NULL,
	[SHIPADDRESS] [nvarchar](999) NULL,
	[SHIPPING_INSTRUCTION] [nvarchar](4000) NULL,
	[SHIP_COMPLETE] [nvarchar](3) NULL,
	[SKIP_UPDATE_CRM_FIELDS_LP] [nvarchar](1) NULL,
	[STATE] [nvarchar](50) NULL,
	[STATUS] [nvarchar](199) NULL,
	[STATUS_DESCR] [nvarchar](199) NULL,
	[STATUS_PROBABILITY] [float] NULL,
	[STATUS_READ_ONLY] [nvarchar](3) NULL,
	[SUBSIDIARY_ID] [float] NULL,
	[SUPPLIES_SERVICE_NATURE] [nvarchar](4000) NULL,
	[TAX_CONTACT_FIRST_NAME] [nvarchar](4000) NULL,
	[TAX_CONTACT_ID] [float] NULL,
	[TAX_CONTACT_LAST_NAME] [nvarchar](4000) NULL,
	[TAX_CONTACT_MIDDLE_NAME] [nvarchar](4000) NULL,
	[TAX_ITEM_ID] [float] NULL,
	[THIRD_PARTY_ACCT] [nvarchar](32) NULL,
	[THIRD_PARTY_CARRIER] [nvarchar](64) NULL,
	[THIRD_PARTY_COUNTRY] [nvarchar](6) NULL,
	[THIRD_PARTY_ZIP_CODE] [nvarchar](10) NULL,
	[TIER_EVALUATION_DATE] [datetime] NULL,
	[TIER_EXPIRE_DATE] [datetime] NULL,
	[TIER_ID] [float] NULL,
	[TIME_APPROVAL_TYPE_ID] [float] NULL,
	[TOP_LEVEL_PARENT_ID] [float] NULL,
	[UNBILLED_ORDERS] [float] NULL,
	[UNBILLED_ORDERS_FOREIGN] [float] NULL,
	[URL] [nvarchar](100) NULL,
	[USE_CALCULATED_BILLING_BUDGET] [nvarchar](3) NULL,
	[USE_CALCULATED_COST_BUDGET] [nvarchar](3) NULL,
	[USE_PERCENT_COMPLETE_OVERRIDE] [nvarchar](3) NULL,
	[VAT_REGISTRATION_NO] [nvarchar](4000) NULL,
	[VAT_REG_NUMBER] [nvarchar](20) NULL,
	[VENDOR_BANK_FEES] [nvarchar](1) NULL,
	[VENDOR_ENTITY_BANK_FORMAT_ID] [float] NULL,
	[VENDOR_ENTITY_BANK_SUBSIDIA_ID] [float] NULL,
	[VENDOR_TYPE_ID] [float] NULL,
	[VIP_MEMBERSHIP_UPGRADED_DATE] [datetime] NULL,
	[VOID_TRANSACTION_PASSWORD] [nvarchar](4000) NULL,
	[WEB_LEAD] [nvarchar](3) NULL,
	[WECHAT] [nvarchar](4000) NULL,
	[ZIPCODE] [nvarchar](36) NULL
) ON [PRIMARY]
GO
